<html>

    <head>
        <title>ICON P-Rep Bond Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link href="https://www.unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    </head>

    <body class="text-gray-50 max-w-6xl mx-auto font-mono bg-gray-800">
        <main>
            {% block container %}{% endblock %}
        </main>
        <footer class="py-10 text-center">
            <p>Developed by <a href="https://twitter.com/rhizomeicx" class="hover:no-underline underline">RHIZOME</a>
            </p>
        </footer>
    </body>

</html>